 body {
     margin: 0;
     padding: 0;
     background-color: '#e6eaf3';
     font-family: sans-serif;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
         Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', Helvetica, Arial,
         sans-serif;
     line-height: 1.5;
     color: '#3b3b3b';
     overflow-y: scroll;
     overscroll-behavior: none;
 }

 .page-container {
     display: flex;
     align-items: center;
     justify-content: center;
     position: relative;
     padding: 0;
 }

 .page {
     padding: 10px;
     padding-bottom: 50px;
     width: 80%;
 }

 .content {
     display: flex;
     align-items: center;
     justify-content: center;
     left: auto;
     right: auto;
 }

 .btn {
     margin: 5px;
     padding: 5px;
     border-radius: 3px;
     outline: none;
     font-weight: bolder;
     cursor: pointer;
     background-color: lightgreen;
 }

 .btn:hover {
     background-color: rgb(175, 255, 175);
 }

 .btn:active {
     position: relative;
     top: 2px;
 }

 .txt-input {
     margin: 5px;
     padding: 5px;
     border-radius: 3px;
 }

 .p-positive {
     background-color: lightgreen;
     border: 1px solid black;
 }

 .p-negative {
     background-color: red;
     color: white;
     border: 1px solid black;
 }

 p {
     min-width: 200px;
     text-align: center;
     border-radius: 5px;
 }